@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-concept-blue text-concept-white font-poppins font-light min-h-[100dvh] overflow-x-hidden;
    }

    html {
        @apply scroll-smooth;
    }

    ::selection {
        background-color: #FCE026;
        color: #0624C7;
    }
}

@layer utilities {
    .perspective-1000 {
        perspective: 1000px;
    }

    .transform-style-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .rotate-y-90 {
        transform: rotateY(90deg);
    }

    .rotate-x-90 {
        transform: rotateX(90deg);
    }

    .translate-z-12 {
        transform: translateZ(3rem);
    }
}

@keyframes spin-slow {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.animate-spin-3d {
    animation: spin-slow 20s linear infinite;
}

/* Custom Fine Grid & Lines according to the Brandbook */
.fine-border-h {
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.08);
    width: 100%;
}

.fine-border-v {
    width: 0.5px;
    background-color: rgba(255, 255, 255, 0.08);
    height: 100%;
}

.fine-grid {
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.04) 0.5px, transparent 0.5px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0.5px, transparent 0.5px);
    background-size: 60px 60px;
}